<div class="container" style="max-width: 500px;">



  <div class="shadow p-3 mt-5 rounded">
    <form action="/login" method="POST" class="d-flex flex-column">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
          placeholder="Email address">
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="password">
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary flex-grow-1">Log in</button>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <h5 class="text-danger">
      {{#if accountWrong}}account or password is wrong!{{/if}}
    </h5>
  </div>

</div>